<%- include("partials/header"); %>

<h1>Compose</h1>

<form action="/compose" method="post">
    <input type="text" name="postTitle" id="">
    <input type="submit" name="" id="" value="Publish">
</form>

<%- include("partials/footer"); %>